version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: task-tracker-prod
    ports:
      - "80:5000"
    environment:
      - FLASK_ENV=production
    networks:
      - task-tracker-network

networks:
  task-tracker-network:
    driver: bridge
